.padding-privacy {
  color:white;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    text-align:center;
    padding-top:50px;
    padding-bottom: 20px;
  }
  /* .border-styles{

  } */
  .Priv-content{
    background-color: #212529 ;
    
  }
 .privacy-whole {
  background-color:#151519;
 }
  .paragraph-main{
    color:white;
font-weight: bold;
letter-spacing: 1.5px;
  }
  .terms-of-use-subheading {
    background-image: linear-gradient(90deg, #ffae2a 0%, rgb(173, 28, 28) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 22px;
    /* font-weight: 500; */
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 20px;
    text-align: left;
  }
  .footer-prive {
    background-color:#151519 ;
    text-align: left;
    width: 100%;
    padding-left: 0px;
   
}
.AutoAdjust{
  width: 100%;
  max-width: 1400px;
  margin: auto;
 
}
.privacy-whole{
  background-color: #151519;
  width: 100%;
 /* align-content:  center; */
}
  .text-styling{
    padding-left:40px;
    padding-right: 40px;
    max-width: 1400px;
    margin: auto;
    
    
  }

  .text-bor{
    padding-left:15px;
    padding-right: 15px;
    overflow: auto;
    margin: auto;
    background-color: #212529;
   
  }
 .paragraph{
   color:white;
 }
 .unorderedList{
   color:white;
  
 }
 .Privacy-Padding{
   padding-top: 20px;
   padding-bottom: 20px;
  
 }
 .Privacy-logo{
   float:left;
  
 }
 .Privacy-header{
  padding-top:20px;
   padding-bottom: 20px;
   padding-left:40px;
   padding-right: 40px;
 }
 .Privacy-header{
   background:#151519;
 }
 .privacy-back{
  max-width: 1400px;
    margin: auto;
 }
 .BackTo{
   padding-top: 17px;
   padding-left:30px;
 }
 #content::-webkit-scrollbar {
        width:10px;
      }
      #content ::-webkit-scrollbar-track {
        background-color: #1c1c21;
      }
      #content::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #ffae2a 0%, #e55519 100%);
        border-radius: 25px;
       height:80px;
      }
  #header{
  position:absolute; top:0px; left:0px; height:80px; right:0px;overflow:hidden;
}
#content{
  position:absolute; top:80px; bottom:200px; left:0px; right:0px; overflow:auto;
  border: 1px solid #333;
  margin-top: 20px; margin-bottom: 20px;
  width:80%;

}

#Footer{
  position:absolute; bottom:0px; height:194px; left:0px; right:0px;  overflow:hidden;
}
      
  @media screen and (max-width: 450px) {
  
      .Privacy-scroll::-webkit-scrollbar {
        width:10px;
    
      }
      .Privacy-scroll::-webkit-scrollbar-track {
        background: #212529;
      }
      .Privacy-scroll::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #ffae2a 0%, #e55519 100%);
        border-radius: 25px;
        height: 80px;
      }
      .text-styling{
        padding-left:10px;
        padding-right: 10px;
      }
      .padding-privacy {
        font-size: 20px;
        padding-top:30px ;
        padding-bottom:0px;
      }
      .Privacy-header{
        padding-top:10px;
         padding-bottom: 20px;
         padding-left:10px;
         padding-right: 10px;
       }
       .BackTo{
        padding-top: 17px;
        padding-left:0px;
      }
      .Bitlabs-Text {
        color: gainsboro;
        margin-left: 10px;
    }
    .Privacy-logo{
    padding-right: 10px;
    padding-left: 10px;
    }
    .terms-of-use-subheading {
      background-image: linear-gradient(90deg, #ffae2a 0%, rgb(231, 19, 19) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      font-size: 18px;
  }
  .footer-prive {
    padding-left: 10px;
    padding-right: 10px;
}
.Footer-pr{
  padding-right:5px;
  padding-left:10px;
}
.padding-privacy {
  font-size: 20px;
  padding-top:30px ;
  
}
#Footer{
  background-color:#151519 ;
}
#header{
  position:absolute; top:0px; left:0px; height:80px; right:0px;overflow:hidden;
}
#content{
  position:absolute; top:80px; bottom:261px; left:0px; right:0px; overflow:auto;
  
}
#Footer{
  position:absolute; bottom:0px; height:261px; left:0px; right:0px;  overflow:hidden;
}
  }
  @media (min-width:451px) and (max-width:649){
    #header{
      position:absolute; top:0px; left:0px; height:80px; right:0px;overflow:hidden;
    }
    #content{
      position:absolute; top:80px; bottom:303px; left:0px; right:0px; overflow:auto;
    }
    #Footer{
      position:absolute; bottom:0px; height:303px; left:0px; right:0px;  overflow:hidden;
    }
  
}

 
@media (min-width: 650px) and (max-width: 889px) {

      .Privacy-scroll::-webkit-scrollbar {
        width:10px;
       
      }
      .Privacy-scroll::-webkit-scrollbar-track {
        background: #212529;
      }
      .Privacy-scroll::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #ffae2a 0%, #e55519 100%);
        border-radius: 25px;
        height: 80px;
      }
      .header-menu {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .text-styling{
      padding-left:25px;
      padding-right: 25px;
    
    }
    .padding-privacy {
      font-size: 26px;
      font-weight: 500;
      padding-top:30px ;
      
    }
   
}
  ul{
      list-style-type: disc;
  }
  .ul-bullets{
      padding-left: 20px;
  }
  .text-styling{
      text-align: left;
  }

 
  @media (min-width: 650px) and (max-width: 889px) {
    .text-styling{
      padding-left:25px;
      padding-right: 25px;
    }
    .header {
      background-color: #151519;
      padding-bottom: 0px;
  }
  .padding-privacy {
    font-size: 26px;
    font-weight: 500;
    padding-top:30px ;
    padding-bottom:5px;
  }
  .Privacy-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffae2a 0%, #e55519 100%);
    border-radius: 25px;
    height:90px;
  }
  }
  @media (min-width: 890px) and (max-width: 992px) {
    .text-styling {
      padding-left: 40px;
      padding-right: 40px;
  }
  .padding-privacy {
    font-size: 26px;
    font-weight: 500;
    padding-top:30px ;
    padding-bottom: 20px;
  }

  .Privacy-scroll::-webkit-scrollbar {
    width:10px;
   
  }
  .Privacy-scroll::-webkit-scrollbar-track {
    background: #212529;
  }
  .Privacy-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffae2a 0%, #e55519 100%);
    border-radius: 25px;
    height:80px;
  }
 
  }
  @media (min-width:993)and(max-width:1401){
    .Privacy-scroll{
      overflow-y: scroll;
      /* height:900px;     */
    }
    .Privacy-scroll::-webkit-scrollbar {
      width:10px;
     
    }
    .Privacy-scroll::-webkit-scrollbar-track {
      background: #212529;
    }
    .Privacy-scroll::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #ffae2a 0%, #e55519 100%);
      border-radius: 25px;
   
    }
  }

  @media screen and (min-width:1400px){
    .AutoAdjust{
      width: 100%;
      max-width: 1400px;
      margin: auto;
      padding-left: 66px;
     
    }
  }
 
